@media screen and (max-width: 768px) {
  //navbar

  .bg-container {
    display: flex;
    flex-direction: column-reverse;
    .seris-btn-outer {
      padding: 10px 0;
    }
  }

  .mb-nav-outer {
    width: 100%;
    max-width: 320px;
  }
  //home
  //popular-series

  .lv-card {
    display: none;
    //padding: 15px;
    // h4 {
    //   font-size: 18px;
    // }
    // .ser-name {
    //   font-size: 10px !important;
    // }
    // .btn-main {
    //   font-size: 13px !important;
    // }
  }

  //team_add_image

  .team_add_image {
    display: none;
  }

  .dwnld-card {
    h4 {
      font-size: 18px;
    }
    a {
      font-size: 10px;
      margin-right: 6px;
    }
  }
  //top-Stories

  .latest-card {
    .bigcard-content {
      a {
        h5 {
          font-size: 18px !important;
        }
      }
    }
  }

  .hm-article-card {
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 10px;
    }
  }

  //ranking
  .score-card-bowler-table {
    margin-top: 20px;
    h4 {
      font-size: 18px;
    }
  }

  .see-more-btn {
    .btn-coloum {
      text-align: center;
    }
  }

  //Follow-us

  .followus-card {
    a {
      font-size: 13px !important;
    }

    //pictures of the day

    .pic-day-card {
      h4 {
        font-size: 17px;
      }
    }
  }
}
