.match-card {
  background: var(--primary2);
  border-radius: 12px;
  //padding: 15px;
  padding: 5px 10px;
  width: 285px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .teams {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 5px;
  }

  .on-card-player {
    margin-top: 10px;
    display: flex;
    align-content: center;
    gap: 10px;

    img {
      width: 25px;
      height: 25px;
    }

    .p-name {
      h3 {
        margin: 0px;
        font-size: 13px;
      }

      p {
        margin: 0px;
        font-size: 12px;
      }
    }
  }

  .status_note {
    margin-bottom: 5px;
  }
}

.match-header {
  margin-bottom: 8px;
  margin-top: 5px;
  gap: 10px;
}

.live-indicator {
  color: #ff4444;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &::before {
    content: "";
    width: 8px;
    height: 8px;
    background: #ff4444;
    border-radius: 50%;
    margin-right: 5px;
  }
}

.match-time {
  color: #666;
  font-size: 12px;
  font-weight: 600;
}

.team {
  display: flex;
  align-items: center;
  gap: 10px;

  &-flag {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .name {
  //   color: #3a449b;
  //   font-size: 16px;
  //   font-weight: 500;
  // }

  // .score {
  //   margin-left: auto;
  //   font-size: 16px;
  //   color: #3a449b;
  //   font-weight: 500;
  // }
}

.navigation {
  display: flex;
  align-items: center;
  gap: 20px;

  padding-top: 10px;

  border-top: 1px solid #afafaf;

  p {
    color: #666;
    font-size: 12px;
    font-weight: 600;

    margin-bottom: 5px;
  }
}

.nav-item {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.2s ease;

  &:hover {
    color: #000;
  }

  &.active {
    color: #000;
    font-weight: 600;
  }
}

.pic-day-card {
  img {
    width: 100%;
    height: 100%;

    border-radius: 5px;
    object-fit: cover;

    margin-top: 10px;
  }
}

.team-name,
.team-score {
  color: var(--primary) !important;
  font-weight: 600;
}

.team-name {
  font-size: 14px;
  margin-right: 10px;
}