:root {
  --primary-color: #02417f;
  --primary: #02417f;
  --AppBar-background: #02417f !important;
  --bg-color: rgba(0, 0, 0, 0.06);
  --bg-card: #ffffff;
  --text-white: #fff;
  --text-dark: #000;
  --text-color: #000;
  --divider-clr: #e2e2e2;
  --article-color: #747474;
  --normal-brdr-radius: 10px;
  --tab-color: #002f5d;
  --fnt-family: "Montserrat", sans-serif;
}

.row {
  margin: 0px !important;
}

body {
  background-color: var(--bg-color) !important;
  font-family: "Montserrat", sans-serif !important;
}

.main-wrapper {
  max-width: 1200px;
  width: 100%;
  overflow-x: hidden;
  min-height: 70vh;

  margin: auto;
}

.limit-2,
.limit-1,
.limit-3,
.limit-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.limit-1 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.limit-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.limit-3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.limit-5 {
  -webkit-line-clamp: 5;
  line-clamp: 5;
}



.btn-main {
  background: var(--primary) !important;
  color: white !important;
}

.btn-main-outline {
  border: solid 1px var(--primary) !important;
  color: var(--primary) !important;
  font-weight: 600 !important;
  display: block !important;
  margin: auto;
}


/* carousel style here */

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  gap: 20px;
}

.embla__slide {
  min-width: 300px;
}