.cric-card-outer {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px 25px;
}


.info-card-outer {

  span {
    font-size: 14px;
    font-weight: 500;
  }

  h5 {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #5f92ac;
    border-bottom: 2px solid var(--primary);
    width: fit-content;

    padding-top: 20px;

  }

  p {
    font-size: 13px;
    color: #333333;
    font-weight: 500;
    margin: 0;
  }



  .probable-btn {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 6px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #d43e28;
    }
  }

  .venue p {
    display: flex;
    align-items: center;
  }

  .location-icon {
    width: 20px;
    height: 20px;
    // background: url("/score_bg.png") no-repeat center center;
    background-size: contain;
    margin-right: 8px;
  }



}