.schedule-card-outer {

    min-width: 250px;
    user-select: none;

    background: var(--text-white);
    border-radius: 10px;
    padding: 11px;

    cursor: pointer;

    background-color: var(--bg-card);


    .sch-card-date {
        margin-bottom: 10px;
        font-size: 12px;
    }



    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .sch-ser-2 {
            width: 200px !important;
        }

    }

    h3 {
        font-weight: 600;

        font-size: 11px;
        line-height: 13px;

    }

    h4 {

        font-family: var(--fnt-family);
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;

        width: 250px;

        margin-top: 10px;

    }

    .teama-score {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .score {
            display: flex;
            align-items: center;
            gap: 3px;

            h3 {
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                color: #8E8E8E;

            }

            h5 {
                font-size: 14px;
                font-weight: 600;
                margin: 0;
            }


        }
    }

    .teama,
    .teamb {
        display: flex;
        align-items: center;

        margin-top: 10px;
        gap: 10px;

        img {

            width: 25.09px;
            height: 25px;

            border-radius: 50%;

        }

        h3 {
            font-size: 12px;
            font-weight: 600;
            line-height: 15px;
        }

    }

    .teamb {
        flex-direction: row;
    }

}

.sch-h2 {
    font-size: 1.4rem;
    font-family: var(--fnt-family);

    display: flex;
    align-items: center;
    gap: 15px;

    margin-top: 30px;
    margin-bottom: 20px;

    // svg {}
}

.schedule-title {
    // margin-top: 40px;
    margin-bottom: 20px;

    width: fit-content;

    display: flex;
    align-items: center;
    gap: 10px;

    h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        cursor: pointer;

        margin-top: 30px;
    }

    h4 {
        cursor: pointer;
    }
}


.mdbd-seris-title {
    display: flex;
    align-items: center;
    gap: 10px;

    h5 {
        font-size: 1rem;
    }
}